@font-face{
    font-family: rubiklight;
    src: url(../font/rubikfont/Rubik-Light.ttf);
}
@font-face {
    font-family: rubikmedium;
    src: url(../font/rubikfont/Rubik-Medium.ttf);
}
@font-face {
    font-family: rubikbold;
    src: url(../font/rubikfont/Rubik-Bold.ttf);
}
@font-face {
    font-family: rubiksemibold;
    src: url(../font/rubikfont/Rubik-SemiBold.ttf);
}
@font-face {
    font-family: rubikregular;
    src: url(../font/rubikfont/Rubik-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
.container{
    width:100%; 
    margin:0 auto;
    background-color:#FFFFFF; 
}
.menu{
    height: 63px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 8px rgba(211, 207, 207, 0.8);
    position:absolute;
    width: 100%;
    padding: 8px 0px 30px 0px;
    text-align:left;
    letter-spacing: 3px;
}
.tsheader{
    width: 250px;
    height: 30px;
    padding: 20px 200px 0 60px;
}

#choice{
    padding: 20px 340px 90px 30px;
    line-height: 35px;
    word-spacing: 50px;
    font-variant: small-caps;
    font-size: 15px;
    float: right;
}
a.nav:link{
    color: #252525;
    text-decoration: none;
    font-family: rubiklight;
    font-size: 17px;
    font-weight: bold;
}
a.nav:hover{
    color: #d35050;
    text-decoration: none;
    font-family: rubiklight;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s;
}
a.nav:active{
    color: #252525;
    text-shadow: 0px 3px 3px rgb(177, 180, 180);
    font-family: rubiklight;
    font-size: 17px;
    transition: 0.1s;    
}
#page{
    text-align: center;
    padding-top: 65px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    background-color:#f7f7f7;
}
.posisi{
    padding-bottom: 30px;
    padding-top: 30px;
}
li.judulpage{
    color:#252525;
    font-family: rubiksemibold;
    font-size: 30px;
    line-height: 45px;
}
li.homepage{
    color:#252525;
    font-family: rubikregular;
    font-size: 14px;
    word-spacing: 2px;
}
a.home{
    color: #252525;
    font-family: rubikregular;
    font-size: 14px;
    text-decoration: none;
}
a.home:hover{
    color: #d35050;
    font-family: rubikregular;
    font-size: 14px;
    text-decoration: none;
    transition: 0.5s;
}
li {
    list-style-type:none;
}
img.icon{
    height: 8px;
}

        /*----nav----*/
.time{
    padding-top: 10px;
    display: flex;
}
.kotak{
    height: 200px;
    width: 100%;
    background-color: #ffffff;
}
.kotak:hover{
    height: 200px;
    width: 100%;
    background-color: #292929;
    color: #fff;
    transition: 1s;
}
a{
    color: #292929;
    text-decoration: none;
}
/*----angka----*/
.RTK{
    font-family: rubiksemibold;
    font-size: 40px;
    text-align: center;
}
/*----angka----*/
        /*----nav----*/


        /*----artikel----*/
.article{
    margin: 0 auto;
    width: 1275px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 20px;
}
#rtk{
    font-family: rubiksemibold;
    font-size: 60px;
}
/*----Gambar----*/
.Img{
    width: 670px;
    height: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.Imgpotrait{
    height: 600px;
    width: 550px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#Imgbg{
    height: 600px;
    width: 1000px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*----Gambar----*/
/*----Jarak----*/
#judul{
    font-family: rubiksemibold;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 8px;
    display: flex;
}
/*----Jarak----*/
.quote{
    padding: 40px;
    margin: 60px 40px 65px;
    border: solid 6px #eaeaea;
    text-align: center;
    font-size: 20px;
    font-family: rubikregular;
    color: #000;
    font-weight: 700;
}    
p.isi{
    font-family: rubikregular;
    font-size: 17px;
}
p#link{
    text-align: center;
    font-family: rubikregular;
    font-size: 17px;
}
html{
    scroll-behavior: smooth;
}
section {
    display: block;
    padding: 25px;
}
        /*----artikel----*/


/*-----footer-----*/
.footer{
    height: 150px; 
    background-color: rgba(34, 34, 34, 0.993);
}
@font-face {
    font-family: rubiklight;
    src: url(../font/rubikfont/Rubik-Light.ttf);
}
p.copyright{
    font-family:  rubiklight;
    font-size: 16px;
    color: #fff;
    float: right;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
}
a.cpr{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a.cpr:hover{
    color: #d35050;
    transition: 0.4s;
}
.social-media{
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.posisi{
    padding-top: 60px;
    padding-left: 60px;
}
a.social-media:hover{
    background: rgba(34, 34, 34, 0.993)!important;
    color: rgb(255, 255, 255)!important;
    transition: 0.4s;
}
img.bayar{
    height: 90px;
    padding-top: 20px;
    padding-right: 60px;
    float: right;
}
/*-----footer-----*/