@font-face{
    font-family: rubiklight;
    src: url(../font/rubikfont/Rubik-Light.ttf);
}
@font-face {
    font-family: rubikmedium;
    src: url(../font/rubikfont/Rubik-Medium.ttf);
}
@font-face {
    font-family: rubikbold;
    src: url(../font/rubikfont/Rubik-Bold.ttf);
}
@font-face {
    font-family: rubiksemibold;
    src: url(../font/rubikfont/Rubik-SemiBold.ttf);
}
@font-face {
    font-family: rubikregular;
    src: url(../font/rubikfont/Rubik-Regular.ttf);
}

/*-----footer-----*/
.footer{
    height: 150px; 
    background-color: rgba(34, 34, 34, 0.993);
    margin-top: 14px;
}
p.copyright{
    font-family:  rubiklight;
    font-size: 16px;
    color: #fff;
    float: right;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
}
a.cpr{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
a.cpr:hover{
    color: #d35050;
    transition: 0.4s;
}
.social-media{
    padding: 10px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.posisi{
    padding-top: 60px;
    padding-left: 60px;
}
a.social-media:hover{
    background: rgba(34, 34, 34, 0.993)!important;
    color: rgb(255, 255, 255)!important;
    transition: 0.4s;
}
img.bayar{
    height: 90px;
    padding-top: 20px;
    padding-right: 60px;
    float: right;
}
/*-----footer-----*/